// --variables
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter&display=swap");
$pink: #c93b76;
$darkgrey: #121826a6;
$grey: #1e1e36c2;
$lightgrey: #4d5562;
$white: #e5e7eb;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(/assets/bg.jpg);
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-container {
  background-color: $grey;
  // opacity: 0.7;
  padding: 20px;
  border-radius: 20px;
  // box-shadow: 1px 1px 20px #00000080;
  .title-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1em;
    color: $white;
    text-align: center;
    font-family: "Inter";
    h3 {
      font-size: 1rem;
      letter-spacing: 1px;
    }
    p {
      color: $lightgrey;
      font-size: 0.75rem;
    }
  }
  .img-container {
    border-radius: inherit;
    img {
      opacity: 1;
      border-radius: inherit;
      height: 20rem;
      width: 22rem;
    }
  }
  .progress-container {
    user-select: none;
    .timer-container {
      display: flex;
      font-size: 0.625rem;
      justify-content: space-between;
      color: $lightgrey;
      padding-bottom: 0.5em;
    }
    .bar-container {
      cursor: pointer;
      border-radius: 2px;
      width: 100%;
      height: 5px;
      background-color: $white;
      .bar-progress {
        box-shadow: 1px 1px 5px $pink;
        border-radius: inherit;
        height: inherit;
        width: 0%;
        background-color: $pink;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(50%, -50%);
          height: 15px;
          width: 15px;
          border-radius: 200px;
          background: $pink;
        }
      }
    }
  }
  .control-containers {
    user-select: none;
    padding-top: 2em;
    gap: 1em;
    display: flex;
    justify-content: center;
    img,
    object {
      cursor: pointer;
      &:hover {
        filter: invert(31%) sepia(88%) saturate(1365%) hue-rotate(306deg) brightness(83%) contrast(86%);
        color: lawngreen;
      }
      // filter: invert(99%) sepia(1%) saturate(2000%) hue-rotate(181deg) brightness(96%) contrast(92%);
    }
    .play-btn {
      box-shadow: 1px 1px 10px $pink;
      background-color: $pink;
      height: 3em;
      width: 3em;
      border-radius: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        // filter: invert(31%) sepia(88%) saturate(1365%) hue-rotate(306deg) brightness(83%) contrast(86%);
        background: white;
        box-shadow: 1px 1px 10px rgb(255, 255, 255);
        img {
          filter: invert(31%) sepia(88%) saturate(1365%) hue-rotate(306deg) brightness(83%) contrast(86%);
        }
      }
      // fill: lightblue;
    }
  }
}
