@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(/assets/bg.jpg);
  font-family: "Inter";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-container {
  background-color: rgba(30, 30, 54, 0.7607843137);
  padding: 20px;
  border-radius: 20px;
}
.app-container .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 1em;
  color: #e5e7eb;
  text-align: center;
  font-family: "Inter";
}
.app-container .title-container h3 {
  font-size: 1rem;
  letter-spacing: 1px;
}
.app-container .title-container p {
  color: #4d5562;
  font-size: 0.75rem;
}
.app-container .img-container {
  border-radius: inherit;
}
.app-container .img-container img {
  opacity: 1;
  border-radius: inherit;
  height: 20rem;
  width: 22rem;
}
.app-container .progress-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.app-container .progress-container .timer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #4d5562;
  padding-bottom: 0.5em;
}
.app-container .progress-container .bar-container {
  cursor: pointer;
  border-radius: 2px;
  width: 100%;
  height: 5px;
  background-color: #e5e7eb;
}
.app-container .progress-container .bar-container .bar-progress {
  -webkit-box-shadow: 1px 1px 5px #c93b76;
          box-shadow: 1px 1px 5px #c93b76;
  border-radius: inherit;
  height: inherit;
  width: 0%;
  background-color: #c93b76;
  position: relative;
}
.app-container .progress-container .bar-container .bar-progress:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  height: 15px;
  width: 15px;
  border-radius: 200px;
  background: #c93b76;
}
.app-container .control-containers {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-top: 2em;
  gap: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app-container .control-containers img,
.app-container .control-containers object {
  cursor: pointer;
}
.app-container .control-containers img:hover,
.app-container .control-containers object:hover {
  -webkit-filter: invert(31%) sepia(88%) saturate(1365%) hue-rotate(306deg) brightness(83%) contrast(86%);
          filter: invert(31%) sepia(88%) saturate(1365%) hue-rotate(306deg) brightness(83%) contrast(86%);
  color: lawngreen;
}
.app-container .control-containers .play-btn {
  -webkit-box-shadow: 1px 1px 10px #c93b76;
          box-shadow: 1px 1px 10px #c93b76;
  background-color: #c93b76;
  height: 3em;
  width: 3em;
  border-radius: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app-container .control-containers .play-btn:hover {
  background: white;
  -webkit-box-shadow: 1px 1px 10px rgb(255, 255, 255);
          box-shadow: 1px 1px 10px rgb(255, 255, 255);
}
.app-container .control-containers .play-btn:hover img {
  -webkit-filter: invert(31%) sepia(88%) saturate(1365%) hue-rotate(306deg) brightness(83%) contrast(86%);
          filter: invert(31%) sepia(88%) saturate(1365%) hue-rotate(306deg) brightness(83%) contrast(86%);
}/*# sourceMappingURL=style.css.map */